---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<!doctype html>
<html lang="en" data-wf-page="65c96ce4beedf24f0e18a23a" data-wf-site="65c96ce3beedf24f0e18a1dd">
	<head>
		<BaseHead title="Posts, aka Blog Posts | Dan Denney" description="Articles that I really wanted to share or that I felt compelled to write because I didn't find it when I was looking" />
	</head>
	<body class="posts-list">
		<main>
			<section>
				<Header title={SITE_TITLE} />
				<div class="hero-section-secondary overflow-hidden">
					<div class="container blog-container">
						<div class="blog-infinit-text-holder">
							<div class="blog-infinit-text-section" style="transform: translateX(100%);">
								<div class="blog-infinit-text-container">
									<div class="blog-infinit-text-wrapper">
										<div>Blog<br></div>
									</div>
									<div class="blog-infinit-text-wrapper">
										<div>Blog<br></div>
									</div>
									<div class="blog-infinit-text-wrapper">
										<div>Blog<br></div>
									</div>
								</div>
								<div class="blog-infinit-text-container">
									<div class="blog-infinit-text-wrapper">
										<div>Blog<br></div>
									</div>
									<div class="blog-infinit-text-wrapper">
										<div>Blog<br></div>
									</div>
									<div class="blog-infinit-text-wrapper">
										<div>Blog<br></div>
									</div>
								</div>
							</div>
						</div>
						<div style="opacity:0;-webkit-transform:translate3d(0, 10px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="blog-hero-section-text-holder">
							<strong>My inspiration for blogging:</strong>
							<figure class="posts-quote">
								<blockquote>
									<p>“Write the article you wish you found when you googled something.”</p>
								</blockquote>
								<figcaption>
									<img src="/chris-coyier.jpg" alt="Chris Coyier">
									<div>
										<strong>Chris Coyier</strong>
										<a href="https://twitter.com/chriscoyier/status/925102888610775041">@chriscoyier</a>
									</div>
								</figcaption>
							</figure>
						</div>
					</div>
					<div class="section-background"></div>
				</div>
				<div class="section">
					<div class="container">
						<div class="blog-wrapper w-dyn-list">
							<h2 class="blog-title posts">Blog Posts</h2>
							<div role="list" class="blog-grid w-dyn-items">
								{posts.map((post) => (
									<div role="listitem" class="blog-item w-dyn-item">
										
										<a href={`/posts/${post.slug}/`} class="blog-item-link w-inline-block">
											<div class="blog-item-image-holder">
												{post.data.cloudinaryThumb ? <img class="blog-item-image" loading="lazy" src={`https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_686,q_auto/v1673896360/${post.data.cloudinaryThumb}`} alt="{post.data.thumbAlt}" srcset={`https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_686,q_auto/v1673896360/${post.data.cloudinaryThumb} 375w, https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_704,q_auto/v1673896360/${post.data.cloudinaryThumb} 768w, https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_896,q_auto/v1673896360/${post.data.cloudinaryThumb} 1200w`} /> : <img class="absolute inset-0 -z-10 h-full w-full object-cover" loading="lazy" src="https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_686,q_auto/v1673896360/posts/slackin.png" alt="Placeholder image" srcset="https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_686,q_auto/v1673896360/posts/slackin.png 375w, https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_704,q_auto/v1673896360/posts/slackin.png 768w, https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_896,q_auto/v1673896360/posts/slackin.png 1200w" /> }
											</div>
											<div class="blog-item-content">
												<div class="blog-item-category">
													<div class="blog-item-date"></div>
												</div>
												<h2 class="blog-item-title">{post.data.title}</h2>
												<p class="blog-item-summary">{post.data.summary}</p>
											</div>
										</a>
										
									</div>
									))
								}
							</div>
						</div>
					</div>
					<div class="section-background"></div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
