---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import toTitleCase from '../../helpers/toTitleCase.js';
import FrontEndConf from '../../components/FrontEndConf.astro';

// Paginate same list of { astronaut } objects as the previous example
export async function getStaticPaths({ paginate }) { 
  const reviews = (await getCollection('reviews')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );
	return paginate(reviews, { pageSize: 6 })
 }
const { page } = Astro.props;
---

<!doctype html>
<html lang="en" data-wf-page="65c96ce4beedf24f0e18a232" data-wf-site="65c96ce3beedf24f0e18a1dd">
	<head>
		<BaseHead title="No ReservAItions" description="Reviews of food, music, and events with the help of AI" />
	</head>
	<body class="reviews">
		<Header />
		<main>
			<div data-w-id="25fb3cfa-79fa-201a-bbfe-3eb0a49e8b6d" class="hero-section-secondary blips-header">
				<div class="container">
					<div data-w-id="0ce5212f-91ca-3c96-3011-158f503e0728" class="main-blog-grid">
						<div class="main-blog-grid-text-holder-item">
							<h5 style="opacity:0;-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="blog-category"></h5>
							<h1 style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="blog-details-main-title">All Reviews</h1>
							<p style="opacity:0;-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="blog-post-summary">Page {page.currentPage} of reviews of food, music, and events with the help of AI</p>
						</div>
						<div class="main-blog-grid-item _1">
							<div style="opacity:0;-webkit-transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="main-blog-image-holder">
								<img alt="Midjourney generated image of Anthony Bourdain in Nashville" class="object-cover" src="/no-reserv-ai-tions/ai-nthony-bourd-ai-n.webp" />
							</div>
						</div>
					</div>
				</div>
				<div class="section-background"></div>
			</div>  
      <section class="section">
        <div class="container">
          <div class="home-blog-wrapper w-dyn-list">
            <div role="list" class="blog-grid w-dyn-items">
              {page.data.map((review) => (
								<div role="listitem" class="blog-item w-dyn-item">
									<a href={`/no-reserv-ai-tions/${review.slug}/`} class="blog-item-link w-inline-block">
										<div class="blog-item-image-holder">
											<img class="blog-item-image" loading="lazy" src={`/no-reserv-ai-tions/${review.data.heroImage}.webp`} alt={review.data.heroImageAlt} />
										</div>
										<div class="blog-item-content">
											<div class="blog-item-category">
												<div class="blog-item-date"></div>
											</div>
											<strong class="review-item-location">{toTitleCase(review.data.city)}, {review.data.country === 'United States' ? toTitleCase(review.data.state) : review.data.country}</strong>
											<h2 class="blog-item-title">{review.data.title}</h2>
											<p class="blog-item-summary">{review.data.description}</p>
										</div>
									</a>
								</div>
								))
							}
            </div>
          </div>
          <nav class="reviews-nav">
            {page.url.prev ? <a class="button primary-button w-button big-ol-button" href={page.url.prev}>Previous Page</a> : null}
            {page.url.next ? <a class="button primary-button w-button big-ol-button" href={page.url.next}>Next Page</a> : null}
          </nav>
					<p class="review-options">See them all by <a href="/no-reserv-ai-tions/1">newest</a>, <a href="/no-reserv-ai-tions/cities">city</a>, <a href="/no-reserv-ai-tions/states">state</a>, or by <a href="/no-reserv-ai-tions/tags">tag</a></p>
        </div>
        <div class="section-background"></div>
      </section>
			<FrontEndConf />
    </main>
  </body>
</html>


