---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.js';
import { getLinks } from '../scripts/notion.js';
import toTitleCase from '../helpers/toTitleCase.js';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 6);

const blips = (await getCollection('blips')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 5);

const reviews = (await getCollection('reviews')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 2);

const links = await getLinks();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white dark:bg-slate-900">
		<main class="bg-white relative shadow z-10 dark:bg-slate-900 dark:text-slate-200">
			<section class="dark:bg-slate-900">
				<div class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20 dark:from-slate-400/20 ">
					<Header title={SITE_TITLE} />
					<div class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:-mr-80 lg:-mr-96 dark:bg-slate-900 dark:shadow-slate-600/10 dark:ring-slate-800" aria-hidden="true"></div>
					<div class="mx-auto max-w-7xl px-6 py-8 lg:px-8 lg:py-32">
						<div class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
							<h1 class="max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl lg:col-span-2 xl:col-auto dark:text-slate-100">I'm Dan Denney, a front-end dev at DataCamp.</h1>
							<div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
								<p class="text-lg leading-8 text-gray-600 dark:text-slate-100">Ok, ok. I'm technically a Senior Software Engineer II, but front-end dev just rolls off the tongue. This my personal playground for sharing many of the things I enjoy, most of which revolves around web design and development.</p>
							</div>
							<figure class="mt-10 aspect-[6/5] w-full max-w-lg rounded-2xl object-cover sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-24">
								<img src="dan.svg" alt="Illustration of Dan Denney" class="h-full mx-auto" >
							</figure>
						</div>
					</div>
					<div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32 dark:from-slate-900"></div>
				</div>
			</section>
			<section class="pt-8 sm:pt-24">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
					<div class="mx-auto max-w-2xl text-center">
						<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-slate-100">Recent Blog Posts</h2>
						<p class="mt-2 text-lg leading-8 text-gray-600 dark:text-slate-100">They're mostly around front-end dev and web conferences, with some occasional life things sprinkled in.</p>
					</div>
					<div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">		
						{posts.map((post) => (
							<article class="relative isolate flex flex-col justify-end overflow-hidden rounded bg-gray-900 px-8 pb-8 pt-40 transition-transform sm:pt-24 lg:pt-40 hover:scale-105">
								<img src={post.data.thumb} alt={post.data.thumbAlt} class="absolute inset-0 -z-10 h-full w-full object-cover">
								<div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
								<div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
								<h3 class="mt-3 text-lg font-semibold leading-6 text-white">
									<a href={`/posts/${post.slug}/`}><span class="absolute inset-0"></span>{post.data.title}</a>
								</h3>
							</article>
							))
						}
					</div>
					<div class="mt-16 flex justify-center">
						<a href="/posts" class="btn-link">View All Blog Posts</a>
					</div>
				</div>
			</section>

			<section class="py-32">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
					<div class="mx-auto flex max-w-2xl flex-col items-end justify-between gap-16 lg:mx-0 lg:max-w-none lg:flex-row">
						<div class="w-full lg:max-w-lg lg:flex-auto">
							<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-slate-100">Most Recent Blips</h2>
							<p class="mt-6 text-lg leading-8 text-gray-600 dark:text-slate-100">Shorter than a blog post, longer than a tweet. This is where I share quick reactions or stash things I want to remember.</p>
							<img src="/blip-too.webp" alt="Illustration of blocks" class="mt-8 w-full rounded-2xl bg-gray-50 object-cover " height="512" width="512">
						</div>
						<div class="w-full lg:max-w-xl lg:flex-auto">
							<h3 class="sr-only">Job openings</h3>
							<ul class="has-links -my-8 divide-y divide-gray-100 dark:divide-slate-600">
								{
									blips.map((blip) => (
										<li class="py-8">
											<a class="text-base leading-7" href={`/blips/${blip.slug}/`}>
												{blip.data.title}
											</a>
											<p class="text-sm dark:text-slate-300">{blip.data.summary}</p>
										</li>
									))
								}
							</ul>
							<div class="mt-8 flex border-t border-gray-100 pt-8 dark:border-slate-600">
								<a href="/blips" class="btn-link">View All Blips</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="pb-32 md:pt-16">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
					<div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
						<div>
							<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-slate-100">Recent finds from around the web</h2>
							<p class="has-links mt-6 text-lg leading-8 text-gray-600 dark:text-slate-100">
								I'm starting to stash everything in a <a href="/library">"library"</a> and archive them by month.
							</p>
						</div>
						<ul class="has-links col-span-2 grid grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2">
							{links.map((link) => (
								<li>
									<a class="text-base leading-7" href={link.url}>
										{link.title}
									</a>
									{link.notes && (
										<span class="block text-sm dark:text-slate-300">{link.notes}</span>
									)}
								</li>
							))}
						</ul>
					</div>
				</div>
			</section>

			<section class="bg-slate-50 dark:bg-slate-900 py-24 sm:py-32">
				<div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 px-6 lg:gap-y-16 lg:grid-cols-2 lg:px-8">
					<div class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
						<img alt="Dan Denney No ReservAItions" src="/no-reserv-ai-tions/no-reserv-ai-tions.svg" height="79" width="240" />
						<p class="mt-4 text-lg leading-8 text-gray-600 dark:text-slate-100">Cooking and enjoying food and drinks are my hobbies outside of web development. With No ReservAItions, I've found a way to mix the two. I'm using ChatGPT to create reviews for the places that I visit in the spirit of Anthony Bourdain and I'm having so much fun with it!</p>
					</div>
					<div class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-none lg:pt-0">
						<ul>
							{reviews.map((review) => 
								<li>
									<a class="block duration-300 group relative isolate mt-4 p-4 transition-all sm:mt-0 hover:bg-red-700 dark:text-red-400 dark:hover:bg-red-400" href={`/no-reserv-ai-tions/${review.data.heroImage}`}>
										<div class="flex flex-col gap-4 items-start max-w-2xl mx-auto sm:flex-row sm:gap-8 lg:max-w-screen-2xl">
											<figure class="bg-white duration-300 flex-shrink-0 pb-5 pt-2 px-2 shadow-sm shadow-slate-10/20 transition-transform w-52 group-hover:-rotate-3" transition:name={`${review.data.title}-img`}>
												<img src={`/no-reserv-ai-tions/${review.data.heroImage}-thumb.webp`} alt={review.data.heroImageAlt} height="144" width="192" />
											</figure>
											<div>
												<div class="flex items-center gap-x-4 text-slate-500 text-sm group-hover:text-white">
													{toTitleCase(review.data.city)}, {review.data.country === 'United States' ? toTitleCase(review.data.state) : review.data.country}
												</div>
												<div class="group relative">
													<h3 class="duration-300 font-bold mt-2 text-4xl  text-red-700 dark:text-red-400 transition-color uppercase md:text-5xl group-hover:text-white">
														<span class="absolute inset-0"></span>
														{review.data.title}
													</h3>
													<p class="duration-500 mt-2 text-gray-600 text-sm dark:text-slate-100 group-hover:text-white">{review.data.description}</p>
												</div>
											</div>
										</div>
									</a>
								</li>
							)}
						</ul>
						<div class="mt-16 lg:pl-4">
							<a href="/no-reserv-ai-tions" class="btn-link">View No ReservAItions</a>
						</div>
					</div>
				</div>
			</section>

			
		</main>
		<Footer />
	</body>
</html>
