---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.js';
import { getLinks } from '../scripts/notion.js';
import toTitleCase from '../helpers/toTitleCase.js';
import { getCollection } from 'astro:content';
import FrontEndConf from '../components/FrontEndConf.astro';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 4);

const blips = (await getCollection('blips')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 4);

const reviews = (await getCollection('reviews')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 4);

const links = await getLinks();
---

<!doctype html>
<html data-wf-page="65c96ce4beedf24f0e18a239" data-wf-site="65c96ce3beedf24f0e18a1dd" lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <Header title={SITE_TITLE} />
    <main>
      <section data-w-id="775cac5c-1aa2-262a-db52-01cc6bff5d44" class="hero-section overflow-hidden">
        <div class="container hero-container">
          <div class="infinite-text-holder">
            <div class="infinite-text-section">
              <div class="infinite-text-container">
                <div class="infinite-text-wrapper">
                  <div class="text-block">Dan  Denney</div>
                </div>
                <div class="infinite-text-wrapper">
                  <div class="text-block-2">Dan  Denney</div>
                </div>
                <div class="infinite-text-wrapper">
                  <div class="text-block-3">Dan  Denney</div>
                </div>
              </div>
              <div class="infinite-text-container">
                <div class="infinite-text-wrapper">
                  <div>Dan  Denney</div>
                </div>
                <div class="infinite-text-wrapper">
                  <div>Dan  Denney</div>
                </div>
                <div class="infinite-text-wrapper">
                  <div>Dan  Denney</div>
                </div>
              </div>
            </div>
          </div>
          <div class="hero-section-container">
            <div class="hero-section-wrapper">
              <div class="hero-section-content-holder">
                <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="overline-text-holder">
                  <div class="overline-text">Yo, i&#x27;m Dan Denney</div>
                </div>
                <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="hero-section-text-holder">
                  <div>I&#x27;m a front-end dev at DataCamp, but they call me a software engineer</div>
                </div>
              </div>
              <div class="content">
                <div style="height:0px" class="main-home-hero-image">
                  <div class="hero-section-image-holder"><img src="/andora/dan.svg" loading="lazy" alt="Illustration of Dan by Ricardo Gimenes" class="hero-section-image"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="loader-holder">
            <div class="loader-container">
              <div class="loader-animation" data-w-id="443569ee-76f6-994a-b497-65d9614f4200" data-animation-type="lottie" data-src="/andora/documents/63c6947b4ef3d83760356e9d_Loader-2.json" data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="4.45" data-duration="3.8"></div>
            </div>
          </div>
        </div>
        <div class="section-background"></div>
      </section>
      <section class="div-block">
        <div class="container">
          <div data-w-id="9234d7a3-2974-0c0a-1150-1fb2fa5e2be2" class="about-me-section-holder">
            <div data-w-id="9234d7a3-2974-0c0a-1150-1fb2fa5e2be3" class="about-me-section-container">
              <div class="gradient-overlay-white top"></div>
              <div class="about-me-section-wrapper">
                <div class="overline-text">About me</div>
                <div class="about-me-text">This my personal playground for sharing many of the things I enjoy, most of which revolves around web design and development<br></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-background"></div>
      </section>
      <section class="section">
        <div class="container">
          <div class="blog-text-holder">
            <div class="insights-title">posts</div>
            <div class="blog-title">Recent <br>Blog Posts</div>
            <div class="grey-text">They&#x27;re mostly around front-end dev and web conferences, with some occasional life things sprinkled in.</div>
          </div>
          <div class="home-blog-wrapper w-dyn-list">
            <div role="list" class="blog-grid w-dyn-items">
              {posts.map((post) => (
                <div role="listitem" class="blog-item w-dyn-item">
                  
                  <a href={`/posts/${post.slug}/`} class="blog-item-link w-inline-block">
                    <div class="blog-item-image-holder"><img src={post.data.thumb} loading="lazy" alt={post.data.thumbAlt} class="blog-item-image"></div>
                    <div class="blog-item-content">
                      <div class="blog-item-category">
                        <div class="blog-item-date"></div>
                      </div>
                      <h2 class="blog-item-title">{post.data.title}</h2>
                      <p class="blog-item-summary">{post.data.summary}</p>
                    </div>
                  </a>
                  
                </div>
                ))
              }
            </div>
          </div>
          <div class="blog-button-holder">
            <a href="/posts" class="button primary-button w-button big-ol-button">View All Blog Posts</a>
          </div>
        </div>
        <div class="section-background"></div>
      </section>
      <section class="section">
        <div class="container">
          <div class="blog-text-holder">
            <strong class="insights-title">Most Recent</strong>
            <h2 class="blog-title">Blips</h2>
            <p class="grey-text">Shorter than a blog post, longer than a tweet. This is where I share quick reactions or stash things I want to remember.</p>
          </div>
          <div class="home-blog-wrapper w-dyn-list">
            <div role="list" class="blog-grid w-dyn-items">
              {blips.map((blip) => (
                <div role="listitem" class="blog-item w-dyn-item">
                  <a href={`/blips/${blip.slug}/`} class="blog-item-link w-inline-block">
                    <img src="/andora/blip.svg" loading="lazy" alt="illustration of a blip" class="blog-item-image blip" />
                    <div class="blog-item-content">
                      <div class="blog-item-category">
                        <div class="blog-item-date"></div>
                      </div>
                      <h2 class="blog-item-title">{blip.data.title}</h2>
                      <p class="blog-item-summary">{blip.data.summary}</p>
                    </div>
                  </a>
                </div>
                ))
              }
            </div>
          </div>
          <div class="blog-button-holder">
            <a href="/blips" class="button primary-button w-button big-ol-button">View All Blips</a>
          </div>
        </div>
        <div class="section-background"></div>
      </section>
      <section class="section">
        <div class="container no-padding-top">
          <div class="w-layout-grid accordion-parent-grid">
            <div class="content">
              <div class="content-sticky">
                <div class="fade-in-move-on-scroll">
                  <div class="accordion-small-text">Most Recent</div>
                  <h3 class="accordion-big-title">No<br>ReservAItions</h3>
                  <p class="accordion-paragraph">Cooking and enjoying food and drinks are my hobbies outside of web development. With No ReservAItions, I&#x27;ve found a way to mix the two. I&#x27;m using ChatGPT to create reviews for the places that I visit in the spirit of Anthony Bourdain and I&#x27;m having so much fun with it!</p>
                </div>
              </div>
            </div>
            <div id="w-node-f8fb51ee-9520-c88f-250e-c22b49849f97-0e18a239" class="content">
              <div data-w-id="f8fb51ee-9520-c88f-250e-c22b49849f98" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="accordion-list">
                {reviews.map((review) => 
                  <div data-w-id="6456ca8a-4555-819c-f124-7e27761b415b" class="accordion-item">
                    <figure class="accordion-item-img" transition:name={`${review.data.title}-img`}>
                      <img src={`/no-reserv-ai-tions/${review.data.heroImage}-thumb.webp`} alt={review.data.heroImageAlt} height="144" width="192" />
                    </figure>
                    <div>
                      <strong class="insights-title">
                        {toTitleCase(review.data.city)}, {review.data.country === 'United States' ? toTitleCase(review.data.state) : review.data.country}
                      </strong>
                      <div class="accordion-item-trigger">
                        <h3 class="accordion-title">{review.data.title}</h3>
                      </div>
                      <p class="accordion-paragraph">{review.data.description}</p>
                    </div>
                  </div>
                )}
              </div>
            </div>
          </div>
        </div>
        <div class="section-background"></div>
      </section>
      <FrontEndConf />
    </main>
		<Footer />
	</body>
</html>
