---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

const { title, description, strapiSeries, cloudinaryThumb, socialImageFilename, thumbAlt } = Astro.props;
---

<html lang="en" transition:animate="fade">
	<head>
		<BaseHead title={title} description={description} image={socialImageFilename} />
		<ViewTransitions />
	</head>
	<body class="bg-white dark:bg-slate-900">
		<Header />
		<main class="bg-white relative shadow z-10 dark:bg-slate-900 dark:text-slate-200">
			<article>
				<header class="longform grid aspect-[3/2] bg-slate-900">
					{cloudinaryThumb && (
						<>
							<img 
								alt={thumbAlt} 
								class="block col-start-1 row-start-1 max-w-full h-full object-cover animate-image-fade-in" 
								loading="eager"
								src={`https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_375,q_auto/v1673896360/${cloudinaryThumb}`} 
								srcset={`https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_750,q_auto/v1673896360/${cloudinaryThumb} 375w, https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_1000,q_auto/v1673896360/${cloudinaryThumb} 500w, https://res.cloudinary.com/dtlow08pj/image/upload/f_auto,c_limit,w_1344,q_auto/v1673896360/${cloudinaryThumb} 672w,`} 
							/>
							<div class="col-start-1 row-start-1 bg-black w-full h-full animate-fade-overlay"></div>
						</>
					)}
					<h1 class="col-start-1 row-start-1 self-center px-8 py-8 text-4xl font-black tracking-tight text-white sm:text-6xl lg:px-0 lg:text-8xl animate-fade-text">
						<span class="block max-w-4xl mx-auto">{title}</span>
					</h1>
				</header>

				<div class="longform max-w-2xl mx-auto pb-16 pt-8 px-8 lg:px-0 blogpost">
					
					<slot />

					{strapiSeries && (
						<h2>Series Posts</h2>

						<style>
							.strapi-series-toc {
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								padding-bottom: 3rem;
							}

							.strapi-series-toc a {    
								margin-top: 0.5rem;
							}
						</style>

						<nav class="has-links strapi-series-toc">
							<a href="/posts/front-end-dev/strapi-series-part-1-project-outline">Part 1: Project Outline</a>
							<a href="/posts/front-end-dev/strapi-series-part-2-architectural-decisions">Part 2: Architectural Decisions</a>
							<a href="/posts/front-end-dev/strapi-series-part-3-repo-setup">Part 3: Repo Setup</a>
							<a href="/posts/front-end-dev/strapi-series-part-4-a-fake-company">Part 4: A Fake Company</a>
							<a href="/posts/front-end-dev/strapi-series-part-5-coming-soon-component">Part 5: A Coming Soon Component</a>
							<a href="/posts/front-end-dev/strapi-series-part-6-coming-soon-qa">Part 6: Coming Soon QA</a>
							<a href="/posts/front-end-dev/strapi-series-part-7-light-and-dark-mode">Part 7: Light and Dark Mode</a>
							<a href="/posts/front-end-dev/strapi-series-part-8-font-sizes-and-colors">Part 8: Font Sizes and Colors</a>
							<a href="/posts/front-end-dev/strapi-series-part-9-thinking-in-data">Part 9: Thinking in Data</a>
							<a href="/posts/front-end-dev/strapi-series-part-10-links-data-and-requests">Part 10: Links Data and Requests</a>
							<a href="/posts/front-end-dev/strapi-series-part-11-header-and-footer-links/">Part 11: Header and Footer Links</a>
						</nav>
					)}

				</div>
			</article>
		</main>
		<Footer />

		<style>
			@keyframes fade {
				from {
					opacity: 0.6;
				}
				to {
					opacity: 0;
				}
			}

			@keyframes fadeText {
				from {
					opacity: 1;
				}
				to {
					opacity: 0.2;
				}
			}

			.animate-fade-overlay {
				opacity: 0.6;
				animation: fade linear both;
				animation-timeline: scroll();
				animation-range: 0 600px;
			}

			.animate-fade-text {
				opacity: 1;
				animation: fadeText linear both;
				animation-timeline: scroll();
				animation-range: 0 600px;
			}

			@media (max-width: 640px) {
				.animate-fade-overlay {
					animation-range: 0 100px;
				}
				
				.animate-fade-text {
					animation-range: 0 100px;
				}
			}

			@keyframes imageFadeIn {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}

			.animate-image-fade-in {
				opacity: 0;
				animation: imageFadeIn 0.5s ease-in forwards;
			}
		</style>
	</body>
</html>
