---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import toTitleCase from '../helpers/toTitleCase.js';
import FrontEndConf from '../components/FrontEndConf.astro';

const { city, state, tags, heroImageAlt, heroImage, heroImageUrl, heroImageAttribution, summary, title } = Astro.props;
---

<html lang="en" data-wf-page="65c96ce4beedf24f0e18a232" data-wf-site="65c96ce3beedf24f0e18a1dd">
	<head>
		<BaseHead title={`Dan Denney | No ReservAItions - ${title}`} description={summary} />
	</head>
	<body class="review">
		<Header title="No ReservAItions" />
		<main class="page-wrapper">
			<div data-w-id="25fb3cfa-79fa-201a-bbfe-3eb0a49e8b6d" class="hero-section-secondary">
				<div class="container">
					<div data-w-id="0ce5212f-91ca-3c96-3011-158f503e0728" class="main-blog-grid">
						<div class="main-blog-grid-text-holder-item">
							<h5 style="opacity:0;-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="blog-category"></h5>
							<h1 style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="blog-details-main-title">{title}</h1>
							<p style="opacity:0;-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="blog-post-summary"></p>
						</div>
						<div class="main-blog-grid-item _1">
							<div style="opacity:0;-webkit-transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="main-blog-image-holder">
								<figure>
									<img src={`/no-reserv-ai-tions/${heroImage}.webp`} alt={heroImageAlt} height="480" width="640" />
									{heroImageAttribution && (
										<small>Photo credit: <a href={heroImageUrl}>{heroImageAttribution}</a></small>
									)}
									<ul>
										<li><a href={`/no-reserv-ai-tions/cities/${city}`}>{toTitleCase(city)}</a>{state && <>, <a href={`/no-reserv-ai-tions/states/${state}`}>{toTitleCase(state)}</a></> }</li>
										<li>
											{tags && tags.map((tag, index) => (
												<>
													{index > 0 ? '• ' : ''}
													<a href={`/no-reserv-ai-tions/${tag}`}>{toTitleCase(tag)}</a>
												</>
											))}
										</li>
									</ul>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="section-background"></div>
			</div>
			<article class="section">
				<div class="container no-padding-top-and-bottom">
					<div class="fade-in-move-on-scroll">
						<div class="blog-rich-text w-dyn-bind-emptyXXXXX w-richtext">
							<slot />
							<nav>
								<p class="review-options">See all reviews by <a href="/no-reserv-ai-tions/1">newest</a>, <a href="/no-reserv-ai-tions/cities">city</a>, <a href="/no-reserv-ai-tions/states">state</a>, or by <a href="/no-reserv-ai-tions/tags">tag</a></p>
							</nav>
						</div>
					</div>
				</div>
				<div class="section-background"></div>
			</article>
			<FrontEndConf />
		</main>
		<Footer />
	</body>
</html>
